<mat-toolbar>
  <span class="home"><a routerLink="/">Home</a></span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userRole === 'admin'">
      <a mat-button routerLink="/users" routerLinkActive="btn-active">Users</a>
    </li>
    <li *ngIf="userRole === 'user'">
      <a mat-button routerLink="/create" routerLinkActive="btn-active"
        >New Post</a
      >
    </li>
    <li *ngIf="userRole !== 'user' && userRole !== 'admin'">
      <a mat-button routerLink="/auth/login" routerLinkActive="btn-active"
        >Login</a
      >
    </li>
    <li *ngIf="userRole !== 'user' && userRole !== 'admin'">
      <a mat-button routerLink="/auth/signup" routerLinkActive="btn-active"
        >Signup</a
      >
    </li>
    <li *ngIf="userRole === 'user' || userRole === 'admin'">
      <button mat-button class="btn-logout" (click)="onLogout()">
        Log out
      </button>
    </li>
  </ul>
</mat-toolbar>
